/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}

.fc-green{
    color:#19ce60;
}
.fc-black{
    color:black;
}

.line{
    padding-right:13px;
    border-right: 1px solid rgba(0,0,0,.12);
}

.top{
    width:1130px;
    padding : 0 30px 0 30px;
    margin:0 auto;
    position:relative;
}

.service-area{
    position:absolute;
    top: 12px;
    right: 27px;
}

.top-right-logo{
    margin:5px;
    font-size: 0.7rem;
    color:grey;
    text-decoration: none;
}

.top-right-logo:hover{
    color:#19ce60;
}
.top-header-area{
    width:1130px;
    margin:0 auto;
}

.logo-search-area {
    display:flex;
    width :1130px;
    height:160px;
    align-items: center
}
.logo-search-area img {
    width:222px;
    height:52px;
    padding-bottom: 14px;
    padding-right:20px;
}

.search-box{ 
    border:2px solid #19ce60;
    width:582px;
    height: 52px;
    border-radius: 3px;
}

.search-input{
    width:444px;
    height:24px;
    padding:13px 15px;
    margin:1px;
    font-size:14px;
    line-height: 24px;
}

.search-btn{
    float:right;
    width: 52px;
    height: 52px;
    background-color: #19ce60;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-btn img{
    width:24px;
    height:24px;
    opacity: 0.3;
    padding:0;
}

.bg {
    border-top: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 0 30px 0 30px;
}

.box {
    width : 910px;
    padding : 11px 220px 11px 0px;
    margin : 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position : relative;
}

.box .wrap1 {
    height : 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .wrap2 {
    height : 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-right : 0px;
    overflow: hidden;
    margin-left: 18px;
}

.box .wrap1 .first{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.3px;
    margin-left: 0px;
}

.box .wrap1 .item {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.3px;
    margin-left: 18px;
}

.box .wrap2 .first{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.3px;
    margin-left: 0px;
}

.box .wrap2 .item {
    font-size: 15px;
    font-weight: 700;  
    letter-spacing: -.3px;
    margin-left: 18px;
}

.box .more {
    width : 70px;
    text-align: right;
    margin-left:17px;
    font-size: 13px;
    color : gray;
}

.box .more:hover {
    text-decoration: underline;
    color : gray;
}

.box .filter {
    width : 210px;
    position : absolute;
    right:0;
    font-size: 12px;
    line-height: 30px; 
    color : gray;
}

.box .filter .arrow {
    position : absolute;
    right:0;
    color : gray;
}
    

.body {
    width : 1130px; 
    padding : 20px 30px;
    margin : 0 auto;
    height:300px;
    border : 0.5px solid rgba(0,0,0,.12);
    display : flex;
    justify-content: space-between;
}

.body .column-left {
    border : 0.5px solid grey;
    background-color: gray;
}

.column-left .ad {
    width : 750px;
    height: 135px;
    border : 0.1px solid rgba(0,0,0,.12);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.column-left .news {
    margin-top:12px;
}

.column-left .news .header-news {
    width: 718px;
    height : 24px;
    padding : 12px 15px 11px 15px;
    display : flex;
    font-size: 13px;
    border : 0.5px solid rgba(0,0,0,.12);
    background-color: #f7f9fa;
    justify-content:flex-start;
    position: relative;
    align-items: center;
}

.column-left .news .header-news .news-company{
    font-weight: 600;
    margin-right:7px;
}

.column-left .news .header-news .rolling-news{
    width : 310px;
    overflow: hidden;
    font-weight: 400;
}

.column-left .news .header-news .direct-area {
    position: absolute;
    right:16;
    font-size:13px;
    font-weight: 600;
}

.column-left .news .header-news .direct-area .naver-news {
    color:dodgerblue;
    text-decoration: none;
}

.column-left .news .header-news .direct-area .naver-news::after {
    display: inline-block;
    content="";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-left: 8px;
    color: gray;
    background-color: gray;
}

.column-left .news .header-news .direct-area .other-news {
    margin : 0 4px 0 7px;
    color:black;
    text-decoration: none;
}

.body .column-right {
    background-color: gray;
}

.body .column-right .login {
    width : 315px;
    height : 105px;
    border : 1px solid rgba(0,0,0,.12);
    background-color: #f7f9fa;
    padding : 16px 16px 12px 17px;
}

.body .column-right .login .login-text{
    font-size: 12px;
    font-weight: 400;
    color : gray;
}

.body .column-right .login .login-btn {
    display: inline-block;
    width:313px;
    padding : 15px 0 15px 0;
    border: 1px solid #15c654;
    background-color:#19ce60;
    margin-top:11px;
    color:white;
    font-weight: 800;
    text-align: center;
    font-size: 13px;  
}

.body .column-right .login .login-subarea{
    margin : 14px 8px 0 4px;
    font-size: 12px;
    color:#404040;
    position:relative;
}
.body .column-right .login .login-img {
    width:10px;
    height:11px;
    opacity:0.5;
}

.body .column-right .login .login-subtext-join{
    
    position:absolute;
    right:0;
}




