/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}


.bg {
    /*margin:200px 0;*/
    padding:10px 0;
    background-color:azure;
}

.bg .box {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.bg .box .wrap1 {
    width : 785px;
    margin:0 auto;
}

.bg .box .wrap1::after {
    content: "";
    display: block;
    clear: both;
}


.bg .box .wrap1 .item {
    font-weight: 600;
    margin: 15px 10px;
    float: left;
    text-align: center;
    color: green;
    
}

.bg .box .wrap1 .item2 {
    font-weight: 600;
    margin: 15px 10px;
    float: left;
    text-align: center;
    color: black;
}

